* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #F5FFF7;
}

header {
  background: #CDEED6;
  text-align: center;
  padding: 20px;
}

.curiosidades {
  background: #FFF3C4;
  margin: 20px;
  padding: 15px;
  border-radius: 12px;
}

.busca {
  text-align: center;
  margin: 20px;
}

input {
  padding: 10px;
  width: 70%;
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid #ebcece;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
  border-radius: 8px;
  border: none;
  background: #8cf390;
  color: rgb(253, 229, 229);
  cursor: pointer;
}

#map {
  height: 400px;
  margin: 20px;
  border-radius: 12px;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #c0dbf0;
  padding: 15px;
  border-radius: 12px;
}

footer {
  background: #CDEED6;
  text-align: center;
  padding: 15px;
}
